svg{
    position: absolute;
    width:80vw;
    height:100vh;
    right:0%;
}
#back{
    color:black;
    font-size:25px;
    position: absolute;
    top:2%;
    left:1%;
    cursor:pointer;
    text-shadow:  whitesmoke
}
.state{
    fill:#808080;
    stroke:#FFFFFF;
    stroke-width:0.25;
    stroke-miterlimit:10;
}
input{
    position: absolute;
    left:30px;
    top:150px;
    width:200px;
    height:30px;
    font-size:17px;
    z-index:2
}
#score{
    position: absolute;
    top:120px;
    left:110px;
    font-size:20px;
}
#last_scores{
    position:absolute;
    border:2px solid black;
    width:17vw;
    height:200px;
    top:300px;
}
#last_scores div{
    border-bottom:1px solid black;
    height:40px;
    line-height: 40px;
    padding-left:5px;
    font-size:20px;
}
#last_scores div:last-child {
    border-bottom:none
}
.time_box{
    font-size:20px;
    position:absolute;
    left:60px;
    top:200px
}
.refresh_btn{
    position:absolute;
    width:80px;
    height:30px;
    font-size:20px;
    top:550px;
    left:85px;
    cursor: pointer;
    z-index: 2;
    background:red;
    color:white;
    line-height: 30px;
    text-align:center
}
@media screen and (orientation:portrait){
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
}
@media screen and (orientation:portrait) and (max-width:650px){
    svg{
        position: absolute;
        width:80vh;
        height:100vw;
        right:0%;
    }
    #last_scores{
        width:60vw;
    }
}
@media screen and (orientation:portrait) and (min-width:651px) and (max-width:1000px){
    svg{
        position: absolute;
        width:80vh;
        height:100vw;
        right:0%;
    }
    #last_scores{
        width:30vw;
    }
}
@media screen and (orientation:landscape) and (max-width:850px){
    #last_scores{
        width:30vw;
    }
}